.textTitle {
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}

#header-view-note {
	padding-left: 10px;
	font-weight: bolder;
	font-size: 60px;
}

#note-details-area {
    font-size: large;
}

.inlineText {
    display: inline;
}

.black-text {
    color: black;
}

.padding-top-10 {
    padding-top: 10px;
}

.noteText, #note-details-area, .padding-left-20 {
    padding-left: 20px;
}

.noteText {
    font-size: x-large;
    font-stretch: extra-expanded;
}

.lineStyle {
    margin-right: 10px;
	border-color: whitesmoke;
}