<head lang="en">
    <meta charset="UTF-8">
    <title>AirPad</title>
	
	<script>
		window.history.forward(1);
	</script>

    <!-- load bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/angular/summernote.css">
    <!-- http://fontawesome.io/icons/ for icons -->

    <!-- My CSS -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/templates/viewnote-Template.css">
    <link rel="stylesheet" href="/templates/viewnotes-Template.css">
	<link rel="stylesheet" href="/templates/addnote-Template.css">
	<link rel="stylesheet" href="/templates/home-Template.css">
	<link rel="stylesheet" href="/templates/userprofile-Template.css">
    <link rel="stylesheet" href="/templates/loginSignoutTemplate.css">

    <!-- JS (load angular, ui-router, and our application scripts) -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.3.9/angular.js"></script>
	<script type="text/javascript" src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

    <!-- Angular Scripts -->
    <script type="text/javascript" src="/summernote.min.js"></script>
    <script type="text/javascript" src="/angular-summernote.js"></script>
    <script type="text/javascript" src="/module.js"></script>
    <script type="text/javascript" src="/filter.js"></script>
    <script type="text/javascript" src="/factory.js"></script>
    <script type="text/javascript" src="/controller.js"></script>
    <script type="text/javascript" src="/config.js"></script>

    <!-- My Scripts -->
    <script type="text/javascript" src="/simpleFunctions.js"></script>
	<script type="text/javascript" src="/values.js"></script>
</head>

<body ng-app="AirPad" ng-controller="NotePad">
	<span ng-init="GoToHome()"></span>
    <section id="wrapper">
        <!-- Sidebar -->
        <section id="sidebar-wrapper">
		<section id="logo-section" class="easeTransition menuTitleText center">
                    <a href="" ui-sref="home"><section id="logo" class="center"></section></a>
                </section>
            <ul class="sidebar-nav">
				<hr>
                <li class="menuItemTitleText easeTransition">
					<span class="adjustLineHeight">
						<a href="" class="bold" ui-sref="login">
							<span class="name" ng-show="LoggedIn() === false">
								<i class="fa fa-sign-in"></i>&nbsp;&nbsp;Log In
							</span>
							<span class="name" ng-show="LoggedIn() === true">
								<i class="fa fa-sign-out"></i>&nbsp;&nbsp;Log Out
							</span>
						</a>
					</span>
                </li>
				<li class="menuItemTitleText easeTransition">
					<span class="adjustLineHeight">
						<a href="" ng-show="LoggedIn() === true" class="bold" ng-click="GoToProfile()">
							<span class="name">
								<i class="fa fa-user"></i>&nbsp;&nbsp;{{SetName()}}
							</span>
						</a>
					</span>
                </li>
				<hr>
				<li href="" class="menuItemTitleText easeTransition">
					<a href="" ui-sref="home"><i class="fa fa-home" ></i> Home</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" ui-sref="addnote"><i class="fa fa-plus-circle" ></i> Add Note</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" ui-sref="viewnotes"><i class="fa fa-file-text"></i> View Notes</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" ui-sref="viewfavnotes"><i class="fa fa-star"></i> Favored Notes</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" ui-sref="viewdeletednotes"><i class="fa fa-trash"></i> Recycle Bin</a>
				</li>
            </ul>
        </section>
        <!-- /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <section id="page-content-wrapper">
            <section class="container-fluid">
				<section ui-view>
					Content Area
				</section>
            </section>
        </section>
        <!-- /#page-content-wrapper -->

    </section>


</body>
</html>