<head lang="en">
    <meta charset="UTF-8">
    <title>AirPad</title>

    <!-- load bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/angular/summernote.css">
    <!-- http://fontawesome.io/icons/ for icons -->

    <!-- My CSS -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/templates/viewnote-Template.css">
    <link rel="stylesheet" href="/templates/viewnotes-Template.css">
	<link rel="stylesheet" href="/templates/addnote-Template.css">
<<<<<<< HEAD
	<link rel="stylesheet" href="/templates/home-Template.css">
=======
    <link rel="stylesheet" href="/templates/loginSignoutTemplate.css">
>>>>>>> origin/master

    <!-- JS (load angular, ui-router, and our application scripts) -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.angularjs.org/1.2.13/angular.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

    <!-- Angular Scripts -->
    <script type="text/javascript" src="/summernote.min.js"></script>
    <script type="text/javascript" src="/angular-summernote.js"></script>
    <script type="text/javascript" src="/module.js"></script>
    <script type="text/javascript" src="/filter.js"></script>
    <script type="text/javascript" src="/factory.js"></script>
    <script type="text/javascript" src="/controller.js"></script>
    <script type="text/javascript" src="/config.js"></script>

    <!-- My Scripts -->
    <script type="text/javascript" src="/simpleFunctions.js"></script>
</head>

<body ng-app="AirPad" ng-controller="NotePad">
    <section id="wrapper">
        <!-- Sidebar -->
        <section id="sidebar-wrapper">
		<section id="logo-section" class="easeTransition menuTitleText center">
                    <a href="" ui-sref="home"><section id="logo" class="center"></section></a>
                </section>
            <ul class="sidebar-nav">
				<hr>
                <li class="menuItemTitleText easeTransition">
                    <a href="" class="bold" ui-sref="login">
						<span class="name">
							<i class="fa fa-user"></i>&nbsp;&nbsp;Log In/Out
						</span>
					</a>
                </li><hr>
				<li href="" class="menuItemTitleText easeTransition">
					<a href="" class="" ui-sref="home"><i class="fa fa-home" ></i> Home</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" class="" ui-sref="addnote"><i class="fa fa-plus-circle" ></i> Add Note</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" class="" ui-sref="viewnotes"><i class="fa fa-file-text"></i> View Notes</a>
				</li>
				<li class="menuItemTitleText easeTransition">
					<a href="" class="" ui-sref="viewfavnotes"><i class="fa fa-star"></i> Favorite Notes</a>
				</li>
            </ul>
        </section>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <section id="page-content-wrapper">
            <section class="container-fluid">
				<section ui-view>
					Content Area
				</section>
            </section>
        </section>
        <!-- /#page-content-wrapper -->

    </section>


</body>
</html>