table#notesTable.center.border
    thead
        tr
            th(colspan='4')
                h2.headerColor.alignText {{currUser}}&apos;s Notes

        tr
            th#title.alignText.tableTitle.border
                | Title
            th#created.alignText.tableTitle.border
                | Created On
            th#edited.alignText.tableTitle.border
                | Edited On
            th#icons.alignText.tableTitle.border

    tbody(ng-show='listOfNotes.notes.length != 0', ng-repeat='note in listOfNotes.notes')
        tr.border-bottom.padding-bottom-5
            td.border-left-right.alignText
                a(href='', ng-click='GoToNote()')
                span {{note.title}}

            td.border-left-right.alignText
                span {{note.creationDate}}

            td.border-left-right.alignText
                span {{note.recentEditDate}}

            td.border-left-right.alignText
                span
                    a(href='', ng-click='EditNote(note)')
                        i.fa.fa-pencil-square-o.fa-lg
                    | &nbsp;&nbsp;

                    a(href='', ng-click='DeleteNote(note)')
                        i.fa.fa-trash.fa-lg
                    | &nbsp;&nbsp;

                    a(href='', ng-click='ShareNote(note)')
                        i.fa.fa-share-alt.fa-lg

        tr.border-bottom.padding-bottom-5
            td.alignText(colspan='4')
                span.textTitle Tags:
                span(ng-repeat='categories in note.categories') {{categories}};

    tbody(ng-show='listOfNotes.notes.length === 0')
        tr.border.padding-bottom-5
            td.border.alignText(colspan='4')
                a(href='', ng-click='GoToAddNote()')
                    span Please add a note.
