<section>
    <section class="innerContentSection">
        <section>
            <h2 class="headerColor">Note Details</h2>
            <section id="note-details-area">
                <span class="textTitle">Creator:</span> {{currUser}}<br/>
                <span class="textTitle">Date of Creation:</span>(Some Date)<br/>
                <span class="textTitle">Recent Edit Date:</span> (Some Date)<br/>
                <span class="textTitle">Categories:</span> (None)
            </section>
        </section>
<hr class="border lineStyle">
        <section class="padding-top-10">
            <h2 class="inlineText headerColor">
                Note Title:
                <span class="black-text">Text</span>
            </h2>
            <h2 class="headerColor">
                Note Content:
            </h2>
            <p class="noteText">
                Some text here.
            </p>

            <!--<span class="" summernote config="optionsTitle">Some Text Here</span>-->
        </section>

    </section>
</section>