<form ng-submit="Login()">
    <section style="background-color: rgba(0, 0, 0, 0.4); border-color: white;" id="loginBox" class="center border">
        <p class="title">{{loginText}}</p>
        <section ng-show="!isLoggedOut()" id="loginFrame" class="center">
            <label style="color: white;" class="bold smallerMinorTitle labelAlign">Email/Username:</label>
            <input align="left"
                   type="text"
                   placeholder="Username"
                   class="inputAlign"
                   ng-model="incomingUser.username"
                    />
            <br/>
            <label style="color: white;" class="bold smallerMinorTitle labelAlign">Password:</label>
            <input align="left"
                    type="password"
                   placeholder="Password"
                   class="inputAlign"
                   ng-model="incomingUser.password"
                    />
        </section>
        <section id="buttonSection">
            <button ng-show="!isLoggedOut()" class="alignCenter" type="submit">Log In</button>
            <button ng-show="isLoggedOut()" class="alignCenter" type="button" ng-click="logout()">Log Out</button>
            <span ng-show="!isLoggedOut()"> | </span>
            <a style="font-weight: bold;" ng-show="!isLoggedOut()" class="alignCenter" ng-click="toSignupState()">Create an Account</a>
        </section>
        <span class="errorText">{{errorMessage}}</span>
    </section>
</form>