<section id="items" class="center">
	<section id="itemSection" class="center" ng-show="listOfFavorites.favs.length != 0">
		<section id="full-length-section-left-align">
			<h2 id="header-view-notes" class="whitesmokeText">{{currUser}}'s Notes</h2>
		</section>
		<section class="item-width" ng-repeat="note in listOfFavorites.favs">
			<section id="item" class="item alignText border">
				<section class="noteTitle-viewnotes"><a href="" ng-click="GoToNote(note)">{{note.title}}</a></section>
				<a href="" ng-click="GoToNote(note)"><i class="fa fa-file-text fa-4x"></i></a>
				<br/>
				<section class="options">
					<a href="" ng-click="ShareNote(note)">
						<i class="fa fa-share-alt fa-lg"></i>
					</a>&nbsp;&nbsp;
					<a href="" ng-click="AddNoteToFavorites(note)">
						<i class="fa fa-heart fa-lg"></i>
					</a>
				</section>
		</section>
	</section>
	<section ng-show="listOfFavorites.favs.length === 0">
		<section class="border alignText">
			<h2 id="header-view-notes" class="whitesmokeText">No Notes Here!</h2>
			<a href="" ng-click="GoToViewNotes()"><span>Please add a note to your favorites first.</span></a>
		</section>
	</section>
</section>